<div class="container">

  <h5>My Requests > Starred Requests</h5>
  <div class="divider"></div>
  <br />

  <!-- Inner Menu Selection -->
  <%= render :partial=>'partials/my_requests_selection', :locals=> {active_row:3} %>
  <!--end of selection list area-->


  <!-- Main Contents -->
  <% @starredRequests.length.times do |i| %>
    <% req = @starredRequests[i] %>
    <% favCount = @favCountArray[i] %>
    <% askUserName = @askUserNames[i] %>
    <% isFav = @isFavArray[i] %>
    <% isStar = @isStarArray[i] %>

    <% if !req.id.nil? %>
      <%= render :partial => 'partials/request_preview_card', :locals=> {req: req, favCount:favCount, askUserName:askUserName, isFav:isFav, isStar:isStar, disableLink: false} %>
    <% end %>

  <% end %>

</div>

<script type="text/javascript">
mixpanel.track("my_requests_starred_viewed", {
    "user_id": 000,
});
</script>
