<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div id="intro-text" class="container">

        <h1 class="header center teal-text text-lighten-3">The Donna</h1>
        <div class="row center">
          <h5 class="header col s12 light">Get the personal and emotional advice you need, anonymously</h5>
        </div>
        <div class="row center">
          <%= link_to "Get Started", login_index_path, :class=>"btn-large waves-effect waves-light orange", :id=>"start-button"%>
        </div>
        <br><br>

      </div>
    </div>

  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="center-align light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="center-align light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="center-align light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="divider"></div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s8 offset-s2 center">
          <h2 class="icon-block center teal-text"><i class="material-icons">lightbulb_outline</i></h2>
          <h4>Help Us Improve</h4>
          <p class="center-align light">If you think we have helped you in any way, consider giving us a donation. The money will help us to make this website even better. Feel free to send us a feature request any time.</p>

          <a href="https://www.facebook.com/happenvr" class="contact-link" target="_blank"><button type="button" class="btn-large waves-effect waves-light green">Donate</button></a>
          <a href="mailto:technochimera@gmail.com" class="contact-link"><button type="button" class="btn-large waves-effect waves-light orange">Contact Us</button></a>
        </div>
      </div>

    </div>
  </div>

  <br />
  <br />


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The Donna</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  </body>
</html>
