<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div id="intro-text" class="container">

        <h1 class="header center teal-text text-lighten-3">Ask <span style="font-family: 'Courgette', sans-serif">Donna</span></h1>
        <div class="row center">
          <h5 class="header col s12 light">Get the personal and emotional advice you need, anonymously</h5>
        </div>
        <div class="row center">
          <%= link_to "Get Started", login_index_path, :class=>"btn-large waves-effect waves-light orange", :id=>"start-button"%>
        </div>
        <br><br>

      </div>
    </div>

  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Share Your Brilliant Ideas</h5>

            <p class="center-align light">Studies show that helping another can bring significant happiness to your own life. Help out another person out with your valuable ideas while requesting your advice.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">question_answer</i></h2>
            <h5 class="center">Get Advices in a Snap</h5>

            <p class="center-align light">Ask Donna is a platform for people with diverse opinions to easily come together and give each other valuable personal and emotional advices. Requesting an advice is easy and you can get instantly matched with a fresh new perspective that will enlighten your day.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">lock_outline</i></h2>
            <h5 class="center">Anonymity and Privacy</h5>

            <p class="center-align light">You are in control what the public can see. You have the ability to post questions anonymously and have it answered by only one person through a random match.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="divider"></div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s8 offset-s2 center">
          <h2 class="icon-block center teal-text"><i class="material-icons">lightbulb_outline</i></h2>
          <h4>Help Us Improve</h4>
          <p class="center-align light">If you think we have helped you in any way, consider giving us a donation. The money will help us to make this website even better. Feel free to send us a feature request any time.</p>

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style='display:inline;'>
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="K8QPYAAWRV7S2">
            <input type="hidden" name="lc" value="CA">
            <input type="hidden" name="item_name" value="Donna">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHosted">

            <input type="submit" class="btn-large waves-effect waves-light green" value="Donate" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>

          <inline><a href="mailto:technochimera@gmail.com" class="contact-link"><button type="button" class="btn-large waves-effect waves-light orange">Contact Us</button></a></inline>
        </div>
      </div>

    </div>
  </div>

  <br />
  <br />


  </body>
</html>
