<div class="container">
  <h4>Activity</h4>
  <div class="divider"></div>
  <br />

  <% @publicRequests.length.times do |i| %>

    <!-- Request Cards -->
    <% req = @publicRequests[i] %>
    <% favCount = @favCountArray[i] %>
    <% askUserName = @askUserNames[i] %>
    <% isFav = @isFavArray[i] %>
    <% isStar = @isStarArray[i] %>
    <% commentCount = @commentCountArray[i] %>

    <% if !req.id.nil? %>
      <%= render :partial => 'partials/request_preview_card', :locals=> {req: req, favCount:favCount, askUserName:askUserName, isFav:isFav, isStar:isStar, commentCount:commentCount, disableLink: false, isRequestDetailsPage: false} %>
    <% end %>

  <% end %>

  <!-- Google adaptable ad -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- MyRequestSideAd -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4877409910199261"
       data-ad-slot="6609012057"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

</div>
