<div class="container">
  <h4>Activity</h4>
  <div class="divider"></div>
  <br />

  <% @publicRequests.length.times do |i| %>

    <!-- Request Cards -->
    <% req = @publicRequests[i] %>
    <% favCount = @favCountArray[i] %>
    <% askUserName = @askUserNames[i] %>
    <% isFav = @isFavArray[i] %>
    <% isStar = @isStarArray[i] %>
    <% commentCount = @commentCountArray[i] %>

    <% if !req.id.nil? %>
      <%= render :partial => 'partials/request_preview_card', :locals=> {req: req, favCount:favCount, askUserName:askUserName, isFav:isFav, isStar:isStar, commentCount:commentCount, disableLink: false} %>
    <% end %>

  <% end %>

  <!-- Google Ads In-feed -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-side"
     data-ad-layout-key="-fk+51+a0-e9-8c"
     data-ad-client="ca-pub-4877409910199261"
     data-ad-slot="1003184358"></ins>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

</div>
