
<% @publicRequests.length.times do |i| %>
<% req = @publicRequests[i] %>
<% askUserName = @askUserNames[i] %>
<hr />
<div>
  <div id="#{p.id}">
    <img src=""/>
    <inline><%= "#{askUserName} asked: " %></inline>
    <inline><%= req.askTime.strftime("%B %d, %Y") %></inline>
    <h4><%= link_to "#{req.title}", request_details_path(req.id) %></h4>

    <p><%= req.details %></p>
  </div>
</div>
<hr />

<% end %>
