<div class="navbar-wrapper">
  <nav class="navbar">
    <div id="navbar" class="navbar-collapse collapse">
      <inline>Genie</inline>
      <a href="" >Activity</a>
      <a href="" >My Requests</a>
      <a href="" >My Answers</a>
      <a href="" >Settings</a>
      <a href="" >Request Advice</a>
    </div>
  </nav>

  <hr />

  <hr />
  <div>
    <div id="example_post">
      <img src=""/>
      <inline>SiTe Asked:</inline>
      <inline>2017-07-17</inline>
      <h4>How to write Hello World?</h4>
      <p>Details of the question goes here.</p>
    </div>
  </div>
  <hr />

  <hr />
  <div>
    <div id="example_post">
      <img src=""/>
      <inline>SiTe Asked:</inline>
      <inline>2017-07-17</inline>
      <h4>Do you think eating a carrot cake is healthier?</h4>
      <p>Is a carrot cake a healthier choice. I need some opionions on this</p>
    </div>
  </div>
  <hr />

</div>
