<div class="container">
  <h4>Activity</h4>
  <div class="divider"></div>
  <br />

  <% @publicRequests.length.times do |i| %>
    <% req = @publicRequests[i] %>
    <% favCount = @favCountArray[i] %>
    <% askUserName = @askUserNames[i] %>
    <% isFav = @isFavArray[i] %>
    <% isStar = @isStarArray[i] %>
    <% commentCount = @commentCountArray[i] %>

    <% if !req.id.nil? %>
      <%= render :partial => 'partials/request_preview_card', :locals=> {req: req, favCount:favCount, askUserName:askUserName, isFav:isFav, isStar:isStar, commentCount:commentCount, disableLink: false} %>
    <% end %>

  <% end %>



</div>
