<div class="container">
  <h4>Welcome to the Donna Community!</h4>
  <div class="divider"></div>
  <br />

  <p>Here, you can find advice anonymously for anything in your life. Give it a try!</p>

  <div class="center btn-large waves-effect waves-light orange">
    <%= button_to "Request Advice", request_advice_index_path, :method => :get %>
  </div>
</div>
