<h1>Welcome to the Genie Community!</h1>
<hr />
<p>Here, you can find advice anonymously for anything in your life. Give it a try!</p>

<div>
  <%= button_to "Request Advice", request_advice_index_path, :method => :get %>
</div>
