<div class="container">
  <h4>Welcome to the Donna Community!</h4>
  <div class="divider"></div>
  <br />

  <h5 class="grey-text">Here, you can find advice anonymously for anything in your life. Start by making your first request by hitting the button below.</h5>

  <br />

  <div class="btn-large waves-effect waves-light orange">
    <%= button_to "Request Advice", request_advice_index_path, :method => :get %>
  </div>
  <br />
  <br />

</div>

<script type="text/javascript">
  mixpanel.track("onSignup_viewed", {
      "user_id": 000,
  });
</script>
