<div class="container">
  <h4>About Donna</h4>
  <div class="divider"></div>
  <br />

  <p>Team Donna is trying to create platforms for people to be more human in a data-centric world. Donna provides the feeling of a therapeutic private discussion with full anonymity. Having mentorship is a crucial factor in achieving success, but people often don't have access to a different way of thinking. By providing a platform for requesting any advice on a personal level, we hope to empower the younger generations.</p>

  <p>
    Donna helps to guide you to navigate through the complexities of the real world and also share the tips and knowledge that you’ve learned with others. At Donna, you can ask for advices on both personal and emotional matters such as:
  </p>

  <ul class="browser-default" style="list-style-type: square;">
    <li>Relationships</li>
    <li>Mental Health</li>
    <li>Career Direction and Issues</li>
    <li>Emotional Peer support</li>
    <li>New Ideas that supports a better lifestyle</li>
    <li>Opinionated Discussions</li>
  </ul>

  <p>
    Donna can give answers to questions that should remain anonymous or can’t be answered by relatives or friends.
  </p>

  <p>A secondary goal of Donna is to help people to provide a fresh new perspective to others. The prevalence of social media has lead to the build up of social echo chambers around different communities where outside opinions are no longer tolerated. On twitter, only your friends and followers are likely to respond to your questions, leading to further radicalization of ideas which are mistakenly taken as fact. Donna is more helpful for the questions that are not factually based. Sometimes, just getting a new idea outside of the bubble is valuable in itself.</p>

  <p>If you have any new ideas or suggestions at all for this website, let us know. We're more than happy to incorporate your ideas in a future release. Contact information can be found below.</p>

  <br />
  <br />

  <h4>Version History</h4>
  <div class="divider"></div>
  <br />

  <ul>
    <li>
      July 26, 2017 - Version 0.1 - AskDonna.org was created and available to the public. Ability to request and give advices after account registration.
    </li>
    <li>
      July 31, 2017 - Version 0.2 - Updated with encrypted HTTPS throughout the site.
    </li>
    <li>
      August 17, 2017 - Version 0.3 - Added request favoriting, starring, and commenting functions. Added user account settings for changing personal preferences. Bug fixes, minor UI improvements, and updated Terms and Conditions.
    </li>
    <li>
      October 15, 2017 - Version 0.4 - Included reCaptcha for user signup and request advice pages. Added invite button by Viral Loops. Bug fixes.
    </li>
    <li>
      October 17, 2017 - Version 0.5 - Fixed race condition when multiple users giving advice to the same question. UI and landing page improvements.
    </li>
    <li>
      October 21, 2017 - Version 0.6 - Removed email and nick name fields in user signup page. Added Donna icon. UI improvements. Bug fixes.
    </li>
  </ul>

</div>
