<div class="container">
  <h4>About Donna</h4>
  <div class="divider"></div>
  <br />

  <p>At Donna, we are trying to create platforms for people to be more human in a data-centric world. Donna provides a mode of communication that isn't readily available before through two main ways. The main goal of Donna is to provide mentorship for the younger generations. Having mentorship is a crucial factor in achieving success. However, people often don't have the connections or luck to get insights from mentors who have been through the jouney.</p>

  <p>
    Donna helps to guide you to navigate through the complexities of the real world and also share the tips and knowledge that you’ve learned with others. At Donna, you can ask for advices on both personal and emotional matters such as:
  </p>

  <ul class="browser-default" style="list-style-type: square;">
    <li>Relationships</li>
    <li>Mental Health</li>
    <li>Career Direction and Issues</li>
    <li>Emotional Peer support</li>
    <li>New Ideas that supports a better lifestyle</li>
    <li>Opinionated Discussions</li>
  </ul>

  <p>
    Donna can give answers to questions that should remain anonymous or can’t be answered by relatives or friends.
  </p>

  <p>A secondary goal of Donna is to help people to provide a fresh new perspective to others. The prevalence of social media has lead to the build up of social echo chambers around different communities where outside opinions are no longer tolerated. On twitter, only your friends and followers are likely to respond to your questions, leading to further radicalization of ideas which are mistakenly taken as fact. Donna is more helpful for the questions that are not factually based. Sometimes, just getting a new idea outside of the bubble is valuable in itself.</p>

  <p>If you have any cool ideas or suggestions at all for this website, let us know. We're more than happy to incorporate your ideas in a future release. The email contact can be found below.</p>

  <br />
  <br />

  <h4>Version History</h4>
  <div class="divider"></div>
  <br />

  <ul>
    <li>
      July 26th, 2017 - Version 0.1 - AskDonna.org is created, available to the public.
    </li>
    <li>
      July 31th, 2017 - Version 0.2 - Updated with HTTPS SSL encryption throughout the site.
    </li>
    <li>
      Version 1.0 - Added request favoriting, starring, and commenting functionalities. Added user account settings screen to change personal preferences.

    </li>
  </ul>

</div>
